.portfolio {
  width: 1080px;
  margin: 0 auto;
  color: black;
}

.main__name {
  font-size: 50px;
  font-weight: 300;
  padding: 70px 0;
}

.main__intro {
  line-height: 50px;
  color: #474747;
}

.main__intro span {
  background-color: black;
  color: white;
  border-radius: 3px;
  padding: 0 4px;
}

.main__email {
  color: orange;
  font-size: 20px;
}

.main__introURL {
  margin: 30px 0;
  font-size: 20px;
}

.main__introURL a {
  color: #9BCBFF;
  text-decoration: none;
  padding-left: 30px;
}

.main__introURL a:nth-child(1) {
  padding-left: 0;
}

.main__li {
  border-left: 3px solid #9BCBFF;
  padding: 15px;
}

.main__li li {
  padding-bottom: 20px;
}

.main__li li:nth-child(3) {
  padding-bottom: 0;
}

.main__skills  h1 {
  color: #9BCBFF;
  font-weight: 600;
  font-size: 30px;
  padding-top: 30px;
}

.main__skills ul li h2 {
  font-weight: 500;
  margin: 20px 0;
}

.main__skills ul li p {
  margin-left: 30px;
  margin-bottom: 15px;
}
