.icon {
  text-decoration: none;
  color: #343434;
  font-size: 45px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  padding-left: 50px;
}

/* home__main */

.Home__main {
  position: relative;
}

.Home__h1 {
  position: absolute;
  top: 270px;
  left: -80px;
  background-color: #252527;
  transform: rotate(-90deg);
  font-size: 25px;

}


.container {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin: 0 auto;
}

.item {
  transform:rotate(54deg);
}

.rhombus {
  width: 0px;
  height: 0px;
  border-right: 190px solid #252527;
  border-top: 100px solid transparent;
  border-bottom: 130px solid transparent;
  position: relative;
  top: 35px;
  left: 105px;
}

.rhombus:after {
  content: "";
  border-left: 175px solid #252527;
  border-top: 125px solid transparent;
  border-bottom: 105px solid transparent;
  position: absolute;
  top: -100px;
  left: 189.5px;
}

.rhombus:hover {
  transform: translateY(30px) translateX(30px);
  transition: all 0.5s;
}


.rhombus-1 {
  width: 0px;
  height: 0px;
  border-right: 200px solid #252527;
  border-top: 100px solid transparent;
  border-bottom: 100px solid transparent;
  position: relative;
  left: -50%;
}

.rhombus-1:after {
  content: "";
  border-left: 200px solid #252527;
  border-top: 100px solid transparent;
  border-bottom: 100px solid transparent;
  position: absolute;
  top: -100px;
  left: 200px;
}

.rhombus-1:hover {
  transform: translateY(-30px);
  transition: all 0.5s;
}

.item-2 {
  transform:rotate(-63deg);
}

.rhombus-2 {
  width: 0px;
  height: 0px;
  border-right: 190px solid #252527;
  border-top: 100px solid transparent;
  border-bottom: 120px solid transparent;
  position: relative;
  top: -5px;
  left: -285px;
}

.rhombus-2:after {
  content: "";
  border-left: 180px solid #252527;
  border-top: 130px solid transparent;
  border-bottom: 90px solid transparent;
  position: absolute;
  top: -100px;
  left: 189.8px;
}

.rhombus-2:hover {
  transform: translateY(30px) translateX(-30px);
  transition: all 0.5s;
}

