.Home {
  position: relative;
  max-width: 1580px;
  margin: 0 auto;
  color: whitesmoke;
}

.container {
  display: flex;
  height: 70vh;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin: 0 auto;
}

/* home__main */

.Home__main {
  position: relative;
}

