/* 좌우 스크롤 부분 */
.scrollable-container {
  height: 100vh;
  overflow-x: scroll;
  white-space: nowrap;
  cursor: grab;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.scrollable-container:active {
  cursor: grabbing;
}

.scrollable-container::-webkit-scrollbar {
  display: none;
}

/* 중간 project 전체 틀 */

.content, 
.content__last {
  display: flex;
}

.content a, 
.content__last a {
  margin: 0 175px;
  color: black;
}

.content__last {
  margin:  0 350px;
}
