/* 좌우 스크롤 부분 */
.scrollable-container {
  height: 100vh;
  overflow-x: scroll;
  white-space: nowrap;
  cursor: grab;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.scrollable-container:active {
  cursor: grabbing;
}

.scrollable-container::-webkit-scrollbar {
  display: none;
}

/* 중간 project 전체 틀 */

.content, 
.content__last {
  display: flex;
}

.content a, 
.content__last a {
  margin: 0 175px;
  color: black;
}

.content__last {
  margin:  0 350px;
}


/* 각 박스 */

.box {
  position: relative;
  width: 350px;
  height: 350px;
  display: flex;
  box-shadow: 5px 8px 12px -5px rgb(152, 152, 152);
}

.box__out {
  width: 350px;
  height: 350px;
  background-color: #455484;
}

.hovered {
  transform: translateX(250px);
  transition: all 1s;
}

.hoveredd {
  transition: all 1s;
}

/* box 각 부분별 색 */
.content a:nth-child(1) {
  background-color: #4ABF98;
}
.content a:nth-child(2) {
  background-color: #482E8C;
}
.content a:nth-child(3) {
  background-color: #0C88A0;
}
.content .box:nth-child(4) {
  background-color: #707070;
}
.content__last a:nth-child(1) {
  background-color: #CC372B;
}
.content__last a:nth-child(2) {
  background-color: #455484;
}
.content__last a:nth-child(3) {
  background-color: #CCB12B;
}