.icon {
  text-decoration: none;
  color: #343434;
  font-size: 45px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  padding-left: 50px;
}