/* 각 박스 */

.box__a {
  border-radius: 100%;
}

.box {
  position: relative;
  width: 400px;
  height: 400px;
  display: flex;
}

.box__center {
  position: absolute;
  top: 150px;
  left: 150px;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: #ffffff;
}

.box__center2 {
  position: absolute;
  top: 165px;
  left: 165px;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background-color: #cfcfcf;
}

.box__center3 {
  position: absolute;
  top: 175px;
  left: 175px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #ffffff;
}

.box__out {
  position: absolute;
  z-index: 1;
  left: 250px;
  width: 400px;
  height: 400px;
  border-radius: 10px;
  box-shadow: 5px 0px 12px -5px rgb(152, 152, 152);

}

.hovered__0 {
  transform: translateX(100px);
  transition: all 2s;
}
.hovered__back__0 {
  transition: all 2s;
}

.hovered__1 {
  transform: translateX(100px);
  transition: all 2s;
}
.hovered__back__1 {
  transition: all 2s;
}

.hovered__2 {
  transform: translateX(200px);
  transition: all 2s;
}
.hovered__back__2 {
  transition: all 2s;
}

.hovered__3 {
  transform: translateX(100px);
  transition: all 2s;
}
.hovered__back__3 {
  transition: all 2s;
}

.hovered__4 {
  transform: translateX(100px);
  transition: all 2s;
}
.hovered__back__4 {
  transition: all 2s;
}

.hovered__5 {
  transform: translateX(100px);
  transition: all 2s;
}
.hovered__back__5 {
  transition: all 2s;
}

/* box 각 부분별 색 */
.content a:nth-child(1) {
  background-color: #a3d7c6;
}

.content a:nth-child(1) .box__out {
  background-color: #4ABF98;
}

.content a:nth-child(2) {
  background-color: #482E8C;
}

.content a:nth-child(2) .box__out {
  background-color: #482E8C;
}

.content a:nth-child(3) {
  background-color: #0C88A0;
}

.content a:nth-child(3) .box__out {
  background-color: #0C88A0;
}

.content .box:nth-child(4) {
  background-color: #707070;
}

.content a:nth-child(4) .box__out {
  background-color: #707070;
}

.content__last a:nth-child(1) {
  background-color: #CC372B;
}

.content__last a:nth-child(1) .box__out {
  background-color: #CC372B;
}

.content__last a:nth-child(2) {
  background-color: #455484;
}

.content__last a:nth-child(2) .box__out {
  background-color: #455484;
}

.content__last a:nth-child(3) {
  background-color: #CCB12B;
}

.content__last a:nth-child(3) .box__out {
  background-color: #CCB12B;
}