/* 각 박스 */

.box__a {
  border-radius: 100%;
}

.box {
  position: relative;
  width: 400px;
  height: 400px;
  display: flex;
}

.box__center {
  position: absolute;
  top: 150px;
  left: 150px;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: #ffffff;
}

.box__center2 {
  position: absolute;
  top: 165px;
  left: 165px;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background-color: #cfcfcf;
}

.box__center3 {
  position: absolute;
  top: 175px;
  left: 175px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #ffffff;
}

.box__out {
  position: absolute;
  z-index: 1;
  left: 250px;
  width: 400px;
  height: 400px;
  border-radius: 10px;
  box-shadow: 5px 0px 12px -5px rgb(152, 152, 152);
}

.box__out p {
  color: #ffffff;
  font-weight: 300;
  font-size: 15px;
  padding: 20px 20px 1px;
}

.box__out h1 {
  color: #ffffff;
  font-weight: 400;
  font-size: 40px;
  padding: 50px 20px 10px;
}

.box__date {
  position: absolute;
  bottom: 20px;
}

.hovered__0 {
  transform: translateX(100px);
  transition: all 2s;
}
.hovered__back__0 {
  transition: all 2s;
}

.hovered__1 {
  transform: translateX(100px);
  transition: all 2s;
}
.hovered__back__1 {
  transition: all 2s;
}

.hovered__2 {
  transform: translateX(100px);
  transition: all 2s;
}
.hovered__back__2 {
  transition: all 2s;
}

.hovered__3 {
  transform: translateX(100px);
  transition: all 2s;
}
.hovered__back__3 {
  transition: all 2s;
}

.hovered__4 {
  transform: translateX(100px);
  transition: all 2s;
}
.hovered__back__4 {
  transition: all 2s;
}

.hovered__5 {
  transform: translateX(100px);
  transition: all 2s;
}
.hovered__back__5 {
  transition: all 2s;
}

/* box 각 부분별 색 */
.content a:nth-child(1) {
  background-color: #92625C;
}

.content a:nth-child(1) .box__out {
  background-color: #764f4a;
}

.content a:nth-child(2) {
  background-color: #644ca0;
}

.content a:nth-child(2) .box__out {
  background-color: #482E8C;
}

.content a:nth-child(3) {
  background-color: #41aabf;
}

.content a:nth-child(3) .box__out {
  background-color: #0C88A0;
}

.content .box:nth-child(4) {
  background-color: #ada9a9;
}

.content a:nth-child(4) .box__out {
  background-color: #707070;
}

.content__last a:nth-child(1) {
  background-color: #cbb8ef;
}

.content__last a:nth-child(1) .box__out {
  background-color: #a98ae2;
}

.content__last a:nth-child(2) {
  background-color: #5f6e9d;
}

.content__last a:nth-child(2) .box__out {
  background-color: #455484;
}

.content__last a:nth-child(3) {
  background-color: #c1ae50;
}

.content__last a:nth-child(3) .box__out {
  background-color: #CCB12B;
}