.CampProject {
  background-color: #a3d7c6;
  height: 100vh;
}

.CampProject__inner {
  position: relative;
  top: 30px;
  background-color: white;
  width: 900px;
  margin: 0 auto;
  box-shadow: 1px 1px 3px -1px gray;
}

.CampProject__inner h1 {
  font-size: 50px;
  font-weight: 300;
  padding: 30px 50px 10px;
}